html{
    height: 100%;
}
body{
    position: relative;
    min-height: 100%;
}
.navbar-pfp{
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
}
.navbar-icon{
    max-width: 32px;
    max-height: 32px;
}
.logo{
    max-width: 200px;
    max-height: 56px;
}
.question-pfp{
    min-height: 100px;
    min-width: 100px;
    max-height: 100px;
    max-width: 100px;
    padding: 10px;
    border-radius: 20px;
}
.question{
    padding-top: 3vh;
}
.question-profile-container{
    padding: 1vh;
    padding-top: 2vh;
    width: fit-content;
    block-size: fit-content;
}
.question-container{
    border: 2px solid;
    border-color: dimgrey;
    margin: auto;
    margin-block: 1vh 1vh;
    writing-mode: horizontal;
}
.question-container-single{
    border-bottom: 2px solid;
    border-color: dimgrey;
    margin: auto;
    margin-block: 6vh 1vh;
    writing-mode: horizontal;
}
.tag-container{
    border: 2px solid;
    margin: 0.5vw;
    width: fit-content;
    block-size: fit-content;
}
.main-block{
    padding: 2vh;
}
.side-block{
    padding-top: 10vh;
}
.answer-container{
    border: 2px;
    border-style: solid;
    border-color: dimgrey;
    margin: auto;
    margin-block: 1vh 1vh;
    writing-mode: horizontal-tb;
}
.delimiter-line{
    float: left;
    border-bottom: 2px solid;
    border-color: dimgrey;
    margin-block: 1vh 1vh;
}
.answer-form{
    float: right;
    margin: auto;
    max-width: 50vw;
}
.footer{
    position: absolute;
    bottom:0;
    width: 100%;
}
.content-wrap{
    padding-bottom: 8vh;
}
.custom-action{
    float: right;
}
.tag-block{
    margin: auto;
}
.user-block{
    margin: auto;
}
.rating-btns{
    margin: auto;
    max-width: 100px;
}