{% extends 'base_side_content.html' %}
{% load bootstrap5 %}
{% block title %}
<title>New question</title>
{% endblock %}
{% block content %}
    <form class="col-xs-8 col-md-8 main-block" method="post">
        {% if request.user.is_authenticated %}
        <h1>New question</h1>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-outline-success custom-action">Ask</button>
        {% else %}
        <h1>Please log in.</h1>
        {% endif %}
    </form>
{% endblock %}