<!doctype html>
<html lang="en">
    <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    </head>
    <body>
    <nav class="navbar sticky-top bg-light">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a href="{% url 'index_page' %}"><img class="logo" src="{% static 'img/logo.png' %}" alt="logo"></a>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
            <ul class="navbar-nav d-flex flex-row me-1 align-items-center">
                {% if request.user.is_authenticated %}
                <li>
                    <a class="me-4" href="{% url 'question_creation_page' %}">
                        <button class="btn btn-outline-success">Ask</button>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user_profile_page' request.user.profile.display_name %}">
                    <img class="navbar-pfp rounded nav-item me-4" src="{{request.user.profile.profile_picture.url}}"/>
                    </a>
                </li>
                <li>
                    <ul class="navbar-nav d-flex flex-row me-1">
                        <li>
                            <p>@{{request.user.profile.display_name}}</p>
                        </li>
                    </ul>
                    <uL class="navbar-nav d-flex flex-row me-1">
                        <li>
                            <a class="nav-link me-2" href="{% url 'settings_page' %}">Settings</a>
                        </li>
                        <li>
                            <a class="nav-link me-2" href="{% url 'logout_page' %}">Logout</a>
                        </li>
                    </uL>
                </li>
                {% else %}
                <li>
                    <a class="nav-link me-2" href="{% url 'login_page' %}">Login</a>
                </li>
                <li>
                    <a class="nav-link me-2" href="{% url 'signup_page' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="content-wrap">
    <div class="row" style="margin: auto">
        <div class="col-xs-8 col-md-8 main-block">
            {% block page_title %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-xs-4 col-md-4 side-block">
            {% block side-content %}{% endblock %}
        </div>
    </div>
    </div>
    <footer class="footer py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">@Copycat 2023</span>
        </div>
    </footer>
    </body>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/form-validation.js' %}"></script>
</html>