{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div class="d-flex flex-row" style="margin:auto">
        <h1 class="me-2">New questions</h1>
        <a href="#">Hot questions</a>
    </div>
    {% for i in '0123456789'|make_list %}
    <div class="row question-container">
        <div class="col-xs-2 col-md-2 question-profile-container">
            <div class="row justify-content-md-center" style="margin:auto">
                <img class="question-pfp" src="{% static 'img/pfp-default.png' %}" alt="question-pfp">
            </div>
            <div class="row text-center" style="margin:auto;padding:1vh">
                <div class="btn-group" role="group" aria-label="Rating Buttons">
                  <button type="button" class="btn btn-outline-success">+</button>
                  <button type="button" class="btn btn-outline-danger">-</button>
                </div>
            </div>
            <div class="row text-center" style="margin:auto;padding:1vh">
                <p>{{ i }}</p>
            </div>
        </div>
        <div class="col-xs-10 col-md-10 question">
            <div class="row" style="margin: auto">
                <a href="#">Lorem {{i}}</a>
            </div>
            <div class="row" style="margin: auto">
                <p>Duis venenatis libero eget mauris varius rutrum. Donec fermentum lorem a elit pharetra. Duis venenatis libero eget mauris varius rutrum. Donec fermentum lorem a elit pharetraDuis venenatis libero eget mauris varius rutrum. Donec fermentum lorem a elit pharetraDuis venenatis libero eget mauris varius rutrum. Donec fermentum lorem a elit pharetraDuis venenatis libero eget mauris varius rutrum. Donec fermentum lorem a elit pharetraDuis venenatis libero eget mauris varius rutrum. Donec fermentum lorem a elit pharetra...</p>
            </div>
            <div class="row" style="margin: auto">
                <div class="col-xs-4 col-md-4">
                    <a href="#">Answer ({{i}})</a>
                </div>
                <div class="col-xs-2 col-md-2">
                    <p>Tags:</p>
                </div>
                {% for tag in 'abcdfw'|make_list %}
                <div class="col tag-container">
                    <a class="tag nav-link" href="#">{{tag}}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
{% block pagination %}
<div class="main-block">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">10</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
</div>
{% endblock %}