{% extends 'base_side_content.html' %}
{% load static %}
{% block title %}
    <title>@Copycat</title>
{% endblock %}
{% block page_title %}
    <div class="d-flex flex-row">
        <h1 class="me-2">{{p_title}}</h1>
        {% if p_title != "Hot questions" %}
        <a href="/hot">Hot questions</a>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    {% for question in questions %}
    <div class="row question-container rounded">
        <div class="col-xs-2 col-md-2 question-profile-container text-center container">
            <div class="row">
                <a href="/user/{{question.author.display_name}}">
                    <img class="question-pfp mx-auto d-block" src='{{question.author.profile_picture.url}}' alt="question-pfp">
                </a>
            </div>
            <div class="row">
                <div class="btn-group rating-btns" role="group" aria-label="Rating Buttons">
                  <button type="button" class="btn btn-outline-success">+</button>
                  <button type="button" class="btn btn-outline-danger">-</button>
                </div>
            </div>
            <div class="row">
                <p>{{ question.rating }}</p>
            </div>
        </div>
        <div class="col-xs-10 col-md-10 question">
            <div class="row">
                <h4><a href="/question/{{question.id}}">{{question.title}}</a></h4>
            </div>
            <div class="row">
                <p>{{question.content}}</p>
            </div>
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <a class="text-success" href="/question/{{question.id}}">Answers ({{question.answers.all.count}})</a>
                </div>
                <div class="col-xs-2 col-md-2">
                    <p>Tags:</p>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="row">
                        {% for tag in question.tags.all %}
                        <div class="col-xs-4 col-md-4 tag-container text-center rounded">
                            <a class="nav-link" href="/tag/{{tag.text}}">{{tag.text}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
{% block pagination %}
<div class="main-block">
    <nav aria-label="Page navigation">
      <ul class="pagination">
          {% if questions.has_previous and questions.number >= 4 %}
          <li class="page-item">
              <a class="page-link" href="{{path}}?page=1">1</a>
          </li>
          <li>
              <a class="page-link" href="{{path}}?page={{questions.number|add:'-2'}}">...</a>
          </li>
          {% else %}
          {% if questions.number == 3 %}
          <li class="page-item">
              <a class="page-link" href="{{path}}?page=1">1</a>
          </li>
          {% endif %}
          {% endif %}
          {% if questions.has_previous %}
          <li class="page-item">
              <a class="page-link" href="{{path}}?page={{questions.previous_page_number}}">{{questions.previous_page_number}}</a>
          </li>
          {% endif %}
          <li class="page-item">
              <a class="page-link active" href="{{path}}?page={{questions.number}}">{{questions.number}}</a>
          </li>
          {% if questions.has_next %}
          <li class="page-item">
              <a class="page-link" href="{{path}}?page={{questions.next_page_number}}">{{questions.next_page_number}}</a>
          </li>
          {% endif %}
          {% if questions.has_next and questions.number < questions.paginator.num_pages|add:'-2' %}
          <li class="page-item">
              <a class="page-link" href="{{path}}?page={{questions.number|add:'2'}}">...</a>
          </li>
          <li class="page-item">
              <a class="page-link" href="{{path}}?page={{questions.paginator.num_pages}}">{{questions.paginator.num_pages}}</a>
          </li>
          {% else %}
          {% if questions.has_next and questions.number == questions.paginator.num_pages|add:'-2' %}
          <li class="page-item">
              <a class="page-link" href="{{path}}?page={{questions.paginator.num_pages}}">{{questions.paginator.num_pages}}</a>
          </li>
          {% endif %}
          {% endif %}
      </ul>
    </nav>
</div>
{% endblock %}