{% extends 'base_side_content.html' %}
{% load static %}
{% block title %}
<title>{{question.title}}</title>
{% endblock %}
{% block content %}
        <div class="row question-container-single">
        <div class="col-xs-2 col-md-2 question-profile-container text-center container">
            <div class="row">
                <img class="question-pfp mx-auto d-block" src='{{question.author.profile_picture.url}}' alt="question-pfp">
            </div>
            <div class="row">
                <div class="btn-group rating-btns" role="group" aria-label="Rating Buttons">
                  <button type="button" class="btn btn-outline-success">+</button>
                  <button type="button" class="btn btn-outline-danger">-</button>
                </div>
            </div>
            <div class="row">
                <p>{{question.rating}}</p>
            </div>
        </div>
        <div class="col-xs-10 col-md-10 question">
            <div class="row">
                <h4>{{question.title}}</h4>
            </div>
            <div class="row">
                <p class="text-muted">Was asked on {{question.date_submitted}} by @{{question.author.display_name}}</p>
            </div>
            <div class="row">
                <p>{{question.content}}</p>
            </div>
            <div class="row">
                <div class="col-xs-2 col-md-2">
                    <p>Tags:</p>
                </div>
                {% for tag in question.tags.all %}
                <div class="col-xs-2 col-md-2 tag-container text-center rounded">
                    <a class="nav-link" href="/tag/{{tag.text}}">{{tag.text}}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
        {% for answer in answers %}
        <div class="row answer-container rounded">
            <div class="col-xs-2 col-md-2 question-profile-container text-center container">
                <div class="row">
                    <a href="/user/{{answer.author.display_name}}">
                    <img class="question-pfp mx-auto d-block" src="{{ answer.author.profile_picture.url }}" alt="question-pfp">
                    </a>
                </div>
                <div class="row">
                    <div class="btn-group rating-btns" role="group" aria-label="Rating Buttons">
                      <button type="button" class="btn btn-outline-success">+</button>
                      <button type="button" class="btn btn-outline-danger">-</button>
                    </div>
                </div>
                <div class="row">
                    <p>{{answer.rating}}</p>
                </div>
            </div>
            <div class="col-xs-10 col-md-10 question">
                <div class="row">
                    <h4><a href="/user/{{answer.author.display_name}}">@{{answer.author.display_name}}</a></h4>
                </div>
                <div class="row">
                    <p class="text-muted">Was submitted on {{answer.date_submitted}}</p>
                </div>
                <div class="row">
                    <p>{{answer.content}}</p>
                </div>
                <div class="row">
                    {% if answer.is_correct %}
                        <img class="question-pfp" src="{% static 'img/tick.png' %}">
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-12 delimiter-line" style="opacity: 0"></div>
        <div class="row" style="float: right">
        <ul class="pagination">
          {% if answers.has_previous and answers.number >= 4 %}
          <li class="page-item">
              <a class="page-link" href="{{path}}?page=1">1</a>
          </li>
          <li>
              <a class="page-link" href="{{path}}?page={{answers.number|add:'-2'}}">...</a>
          </li>
          {% else %}
          {% if answers.number == 3 %}
          <li class="page-item">
              <a class="page-link" href="{{path}}?page=1">1</a>
          </li>
          {% endif %}
          {% endif %}
          {% if answers.has_previous %}
          <li class="page-item">
              <a class="page-link" href="{{path}}?page={{answers.previous_page_number}}">{{answers.previous_page_number}}</a>
          </li>
          {% endif %}
          <li class="page-item">
              <a class="page-link active" href="{{path}}?page={{answers.number}}">{{answers.number}}</a>
          </li>
          {% if answers.has_next %}
          <li class="page-item">
              <a class="page-link" href="{{path}}?page={{answers.next_page_number}}">{{answers.next_page_number}}</a>
          </li>
          {% endif %}
          {% if answers.has_next and answers.number < answers.paginator.num_pages|add:'-2' %}
          <li class="page-item">
              <a class="page-link" href="{{path}}?page={{answers.number|add:'2'}}">...</a>
          </li>
          <li class="page-item">
              <a class="page-link" href="{{path}}?page={{answers.paginator.num_pages}}">{{answers.paginator.num_pages}}</a>
          </li>
          {% else %}
          {% if answers.has_next and answers.number == answers.paginator.num_pages|add:'-2' %}
          <li class="page-item">
              <a class="page-link" href="{{path}}?page={{answers.paginator.num_pages}}">{{answers.paginator.num_pages}}</a>
          </li>
          {% endif %}
          {% endif %}
        </ul>
        </div>
        <div class="col-12 delimiter-line"></div>
        {% if request.user.is_authenticated %}
        <div class="col-12 answer-form">
                <div class="mb-3">
                  <textarea class="form-control" style="resize:none" id="answer_area" rows="3" maxlength="300" placeholder="Type your suggestion here..."></textarea>
                </div>
                <button type="button" class="btn btn-outline-success custom-action">Post answer</button>
        </div>
        {% endif %}
{% endblock %}
