{% extends 'base_side_content.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
<title>{{question.title}}</title>
{% endblock %}
{% block content %}
        <div class="row question-container-single" id="question_{{question.id}}">
        <div class="col-xs-2 col-md-2 question-profile-container text-center container">
            <div class="row">
                <a href="{% url 'user_profile_page' question.author.display_name %}">
                <img class="question-pfp mx-auto d-block" src='{{question.author.profile_picture.url}}' alt="question-pfp">
                </a>
            </div>
            {% if request.user.is_authenticated and question.author != request.user.profile %}
            <div class="row">
                <div class="btn-group rating-btns" role="group" aria-label="Rating Buttons">
                  <button type="button" class="btn btn-outline-success rate-up">+</button>
                  <button type="button" class="btn btn-outline-danger rate-down">-</button>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <p class="question-rating">{{question.rating}}</p>
            </div>
        </div>
        <div class="col-xs-10 col-md-10 question">
            <div class="row">
                <h4>{{question.title}}</h4>
            </div>
            <div class="row">
                <p class="text-muted">Was asked on {{question.date_submitted}} by @{{question.author.display_name}}</p>
            </div>
            <div class="row">
                <p>{{question.content}}</p>
            </div>
            <div class="row">
                <div class="col-xs-2 col-md-2">
                    <p>Tags:</p>
                </div>
                {% for tag in question.tags.all %}
                <div class="col-xs-2 col-md-2 tag-container text-center rounded">
                    <a class="nav-link" href="{% url 'questions_with_tag_page' tag.text %}">{{tag.text}}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
        {% for answer in page %}
        <div class="row answer-container rounded" id="answer_{{answer.id}}">
            <div class="col-xs-2 col-md-2 question-profile-container text-center container">
                <div class="row">
                    <a href="{% url 'user_profile_page' answer.author.display_name %}">
                    <img class="question-pfp mx-auto d-block" src="{{ answer.author.profile_picture.url }}" alt="question-pfp">
                    </a>
                </div>
                {% if request.user.is_authenticated and answer.author != request.user.profile %}
                <div class="row">
                    <div class="btn-group rating-btns" role="group" aria-label="Rating Buttons">
                      <button type="button" class="btn btn-outline-success rate-up">+</button>
                      <button type="button" class="btn btn-outline-danger rate-down">-</button>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <p class="answer-rating">{{answer.rating}}</p>
                </div>
            </div>
            <div class="col-xs-10 col-md-10 question">
                <div class="row">
                    <h4><a href="{% url 'user_profile_page' answer.author.display_name %}">@{{answer.author.display_name}}</a></h4>
                </div>
                <div class="row">
                    <p class="text-muted">Was submitted on {{answer.date_submitted}}</p>
                </div>
                <div class="row">
                    <p>{{answer.content}}</p>
                </div>

                <div class="row">
                    {% if answer.is_correct %}
                        <img class="tick" src="{% static 'img/tick.png' %}">
                    {% else %}
                    {% if request.user.profile == question.author %}
                        <button class="btn btn-outline-secondary mb-3 mark-correct">Mark correct.</button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-12 delimiter-line" style="opacity: 0"></div>
        {% include 'pagination.html' %}
        <div class="col-12 delimiter-line"></div>
        <div class="col-12 answer-form">
        {% if request.user.is_authenticated %}
            <form class="mb-3" method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-outline-success custom-action">Post answer</button>
            </form>
        {% else %}
            <p class="text-muted" style="float: right">Please log in to leave an answer.</p>
        {% endif %}
        </div>
{% endblock %}
